<app-title-fades [color]="titleColor" [title]="titleText" />
<section class="about-us">
  <p>
    "Race Fanatic" е мястото за всички събития за моторни спортове в България.
    Апликацията Ви предоставя календар, условия, дати и места за всички
    състезания. От рали до автомобилни и мотоциклетни събития, ние Ви
    осигуряваме единственото необходимо място, за да планирате Вашето
    приключение в света на моторните спортове. Добре дошли в "Race Fanatic" -
    Вашата врата към моторния свят в България!
  </p>

  <div class="contacts">
    <p>“Рейс Фанатик” ЕООД</p>
    <a class="email" href="mailto:office@racefanatic.bg"
      >e-mail: office@racefanatic.bg</a
    >
  </div>
  <div class="links">
    <a routerLink="general-terms">Общи условия</a>
    <a routerLink="privacy-policy">Политика за поверителност</a>
  </div>
</section>
