.like-icon{
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px;
    margin: 2px 2px 12px 12px;
    color: #FF7418;
    border-radius: 100%;
    z-index: 2;
    height: 20px;
    width: 20px;
} 