

    .like-icon{
        position: absolute;
        top: 3px;
        right: 3px;
        padding: 4px 2px 8px 8px;
        z-index: 2;
    } 
    
    .likes-count{
        position: absolute;
        z-index: 3;
        top: 9px;
        right: 13px;
        color: #E80000;
        font-size: 10px;
        font-weight: 700;
    }


