<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <app-header
      [backButton]="backButton"
      [headerTitle]="headerTitle"
    ></app-header>
  </ion-header>

  <div class="container ion-padding-horizontal">
    <span
      ><p class="title">
        Въведете имейл, на който ще получите новата парола
      </p></span
    >
    <span
      ><p class="subtitle">
        След като получите новата парола, можете да я замените с Ваша парола от
        страница “Профил”
      </p></span
    >
    <form #resetForm="ngForm" (submit)="onResetSubmit(resetForm)" mode="ios">
      <div class="auth-wrapper">
        <div class="auth-input">
          <ion-input
            type="text"
            fill="solid"
            label="Имейл*"
            name="email"
            labelPlacement="floating"
            clearInput
            ngModel
            #email="ngModel"
            required
            [ngClass]="errorMessage ? 'ng-invalid ng-touched' : ''"
            pattern="^[a-zA-Z0-9\._+\-]+@[a-zA-Z0-9\.]+\.[a-zA-Z]{2,}$"
          >
          </ion-input>
        </div>

        <ng-container *ngIf="email.touched">
          <p
            class="auth-validation-error-message"
            *ngIf="email.errors?.['required']"
          >
            Полето е задължително за попълване!
          </p>
          <p
            class="auth-validation-error-message"
            *ngIf="email.errors?.['pattern']"
          >
            Моля въведете валиден имейл!
          </p>
        </ng-container>
        <p class="auth-validation-error-message" *ngIf="errorMessage">
          {{errorMessage}}
        </p>
      </div>
      <div class="main-button-wrapper">
        <button class="main-button">Ок</button>
      </div>
      <div class="secondary-button-wrapper">
        <a class="secondary-button" routerLink="/tabs/user/auth">Назад</a>
      </div>
    </form>
  </div>
</ion-content>
