<div class="image-picker-wrapper">
  <div
    *ngIf="!selectedImage"
    class="image-picker"
    (click)="onAttachPictureClick()"
  >
    <img
      src="../../../assets/icon/camera.png"
      alt="image-picker-camera"
      class="image-picker-icon"
    />
  </div>

  <div
    *ngIf="selectedImage"
    [ngClass]="selectedImage ? 'image-selected image-picker' : 'image-picker'"
  >
    <img [src]="'data:image;base64,' + selectedImage" />
    <div class="secondary-button-wrapper" (click)="onDiscardSelectedImage()">
      <p class="secondary-button">Изтрий снимката</p>
    </div>
  </div>
</div>
<p *ngIf="imageErrorMessage" class="validation-error-message">
  {{ imageErrorMessage }}
</p>
