.image-picker-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  background-color: #c2bfbe;
  border-radius: 4px;

  .image-picker {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;

    .delete-button-wrapper {
      width: auto;
    }

    .image-picker-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 40px;
      height: 40px;
      background-color: transparent;
    }

    img {
      object-fit: contain;
      height: 200px;
      // width: 100%;
      border-radius: 4px;
      // background-color: var(--ion-background-color);
    }

    .clear-image {
      position: absolute;
      top: 4px;
      right: 4px;
      height: 12px;
      width: 12px;
    }
  }

  .image-selected {
    background-color: var(--ion-background-color);
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    align-items: center;

    .secondary-button-wrapper {
      width: auto;
    }
  }

  .image-picker-info {
    display: flex;
    align-items: center;
    gap: 4px;

    div {
      height: 20px;
      width: 27px;
      img {
        height: 100%;
        width: 100%;
      }
    }

    p {
      font-size: 10px;
    }
  }
}
