<ion-content [fullscreen]="true">
  <div class="page-title">
    <app-search show-clear-button="focus" placeholder="Търсене"></app-search>
  </div>
  <app-title-fades [color]="titleColor" [title]="titleText" />
  <div class="event-container" *ngFor="let event of eventsData" (click)="eventRedirect(event._id)">
    <div class="image-wrapper">
      <img alt="{{event.shortTitle}}" src="{{event.imageUrl}}" class="event-image" />
      <p class="event-location"><ion-icon [src]="location" name="location" class="location-img"></ion-icon>{{event.contacts.region}}</p>
      <p *ngIf="event.dates.length > 1" class="event-date">От {{event.dates[0].date}} г. до {{event.dates[event.dates.length - 1].date}} г.</p>
      <p *ngIf="event.dates.length == 1">{{event.dates[0].date}} г.</p>
      <app-like-icon class="event-like-btn"></app-like-icon>
    </div>
    <div class="event-info">
      <h3 class="event-title">{{event.shortTitle}}</h3>
      <p class="event-description">{{event.shortDescription}}</p>
      <button class="more-btn"><p>Прочети повече</p></button>
    </div>
  </div>
</ion-content>