<<<<<<< Updated upstream
.title{
    text-align: center;
=======

.event-container{
    margin-top: 0.6em;
>>>>>>> Stashed changes
}
.event-info{
    padding: 0.6em;
}
h3{
    font-weight: 600;
}
.event-location{
    font-size: 14px;
}
.image-wrapper{
    position: relative;
}
.event-like-btn{
    position: absolute;
    font-size: 30px;
    color: #F44336;
    top: 4%;
    right: 3%;
}

.event-info{
    position: relative;
}

.event-likes{
    position: absolute;
    bottom: 4%;
    right: 3.5%;
}