<ion-content>
  <div class="page-title">
    <app-header
      [headerTitle]="headerTitle"
      [backButton]="backButton"
      [defaultHref]="defaultHref"
    ></app-header>
    <app-search
      [parent]="parent"
      show-clear-button="focus"
      placeholder="Търсене"
      (filteredEvents)="getFilteredEvents($event)"
      (isLoadingEvents)="setLoading($event)"
    ></app-search>
  </div>
  <app-title-fades [color]="titleColor" [title]="titleText" />
  <ng-container *ngIf="!isLoading">
    <div
      class="ion-padding-horizontal"
      *ngIf="(user?.role === 'admin') || (user?.role === 'organizer')"
    >
      <div class="main-button-wrapper">
        <ion-icon [src]="addIcon" class="add-icon" />
        <span [routerLink]="['/tabs/events/create']" class="main-button"
          >Създай събитие</span
        >
      </div>
    </div>

    <ng-container *ngFor="let event of eventsData">
      <app-event [event]="event" (filteredEvents)="getFilteredEvents($event)" />
    </ng-container>

    <!-- show if no events -->
    <div *ngIf="eventsData.length === 0">
      <p class="no-events">Няма налични събития!</p>
    </div>
  </ng-container>

  <!-- loading spinner -->
  <div *ngIf="isLoading" class="loader-wrapper">
    <app-loading-spinner></app-loading-spinner>
  </div>
</ion-content>

<!-- toaster message -->
<app-toaster
  [toasterMessage]="toasterMessage"
  [toasterType]="toasterType"
></app-toaster>
