ion-toolbar {
  --min-height: 36px;
  --background: transparent;
  --border-style: none;

  .footer {
    height: 36px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 16px 24px 16px;
    a {
      flex: 1 1 50%;
      text-decoration: none;
      color: #c2bfbe;
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      text-align: center;
    }
  }
}
