.footer {
    width: 328px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 24px 16px;
    padding: 10px;

  div.privacy{

  }

  div.terms {

  }
    a{
      text-decoration: none;
      color: #C2BFBE;
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      text-align: center;
    }
  
  }

  