<ion-content [fullscreen]="true">
  <ion-header
    [ngClass]="{'header-menu': true, 'login-background-image': authSegment === 'login', 'register-background-image': authSegment === 'register'}">
    <app-header [backButton]="backButton"></app-header>
    <div class="login-header-image"></div>
  </ion-header>

  <div class="container ion-padding-horizontal">
    <div class="heading-title">
      <h1>{{authSegment === 'login' ? 'Вход' : 'Регистрация'}}</h1>
      <p>
        {{authSegment === 'login' ? 'Влезте във Вашия акаунт' : 'Регистрирайте нов акаунт'}}
      </p>
    </div>

    <div class="segment">
      <ion-segment value="login" [(ngModel)]="authSegment" (ionChange)="segmentChanged($event)">
        <ion-segment-button value="login">
          <ion-label>Вход</ion-label>
        </ion-segment-button>
        <ion-segment-button value="register">
          <ion-label>Регистрация</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>

    <div class="login-form" *ngIf="authSegment == 'login' else register">
      <app-login></app-login>
      <div class="auth-redirect-link">
        <p>
          Ако нямате създаден профил можете да се регистрирате от
          <span><a (click)="toggleAuthSegmentChange('register')">ТУК</a></span>
        </p>
      </div>
    </div>

    <ng-template #register>
      <app-user-register></app-user-register>
      <div class="auth-redirect-link">
        <p>
          Вече имате акаунт?
          <span><a (click)="toggleAuthSegmentChange('login')">ВХОД</a></span>
        </p>
      </div>
      <div class="register-tos-agreement">
        <p>
          С регистрацията се съгласявате на
          <span><a routerLink="/tabs/home/general-terms">Общите условия</a></span> и
          <span><a routerLink="/tabs/home/privacy-policy">Правилата за поверителност</a></span>
        </p>
      </div>
    </ng-template>
  </div>
</ion-content>