.prices-wrapper {
  margin-top: 0.5em;
  display: flex;
  flex-direction: column;
  gap: 1.5em;

  .price-heading {
    color: #ffdc23;
    font-weight: 600;
    font-size: 16px;
  }
  .event-input {
    ion-input {
      --padding-start: 1em;
      border-bottom: 1px solid #fff;
    }

    ion-input.custom-valid-input {
      border-bottom: 1px solid #00cc00;

      ::ng-deep .label-text {
        color: #00cc00;
      }
    }

    ion-input.custom-invalid-input {
      border-bottom: 1px solid red;

      ::ng-deep .label-text {
        color: #ff0000;
      }
    }

    ion-input.has-focus {
      border-bottom: 1px solid #ff7418;

      ::ng-deep .label-text {
        color: #ff7418;
      }
    }

    .prices-inputs-wrapper {
      margin-bottom: 1.5em;
      .price-input {
        width: calc(100% - 50% - 1em);
      }
    }
    .buttons-wrapper {
      display: flex;
      gap: 1em;
      .main-button-wrapper {
        background-color: #ffdc23;
        .buttons-wrapper {
          display: flex;
          gap: 1em;
        }
      }

      .secondary-button-wrapper {
        border: 2px solid #ffdc23;
        .secondary-button {
          color: #ffdc23;
        }
      }
    }
  }

  // class for the add another price if it is the first price pick option
  .button-wrapper-single {
    width: calc(50% - 1em);
  }

  @media (max-width: 380px) {
    .button-wrapper-single {
      width: calc(50%);
    }
  }

  @media (max-width: 350px) {
    .button-wrapper-single {
      width: calc(60%);
    }
  }

  .main-button-wrapper {
    padding: 8px 22px;
  }
}
