<div class="image-picker-wrapper">
  <div class="image-picker" (click)="onImageSelect()">
    <img
      src="../../../assets/icon/camera.png"
      alt="image-picker-camera"
      class="image-picker-icon"
    />
  </div>
  <div class="image-picker-info">
    <div>
      <img
        src="../../../assets/icon/info.png"
        alt="image-picker-info-icon"
        class="image-picker-info-icon"
      />
    </div>
    <p>
      Тук следва да качите подходяща снимка за Вашето събитие. Моля НЕ качвайте
      плаката на събитието.
    </p>
  </div>
</div>
