.user-organization-toggle-wrapper {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  color: #a6a2a0;
  margin: 1em 0 2em 0;
}

.user-organization-toggle-wrapper {
  ion-toggle {
    --track-background: #ddd;
    --track-background-checked: #ddd;

    --handle-width: 1em;
    --handle-height: 1em;
    --handle-background: var(--ion-color-primary);
    --handle-background-checked: var(--ion-color-primary);
  }

  ion-toggle::part(track) {
    width: 40px;
    height: 20px;
    overflow: visible;
    box-shadow: 0 0 6px -2px #ff7418;
  }

  label {
    font-weight: 600;
    font-size: 14px;
  }

  .checked-toggle {
    color: var(--ion-color-primary);
    font-weight: 600;
  }
}

ion-select {
  --placeholder-color: #ffffff;
  --placeholder-opacity: 1;
  width: 100%;
  justify-content: flex-end;
  position: relative;
}

ion-select::part(icon) {
  color: #ffffff;
  content: url("../../../assets/icon/arrow-up-down.svg");
  position: absolute;
  right: 1.6em;
  top: transform(translateY(-50%));
  height: 20px;
  width: 10px;
}
