<div class="user-organization-toggle-wrapper">
  <label [ngClass]="userChecked ? 'checked-toggle' : ''">Потребител</label>
  <ion-toggle (ionChange)="userChecked = !userChecked"></ion-toggle>
  <label [ngClass]="!userChecked ? 'checked-toggle' : ''">Организатор</label>
</div>

<ng-container *ngIf="userChecked">
  <form>
    <div class="auth-wrapper">

      <div class="auth-input">
        <ion-input type="email" fill="solid" label="Имейл*" labelPlacement="floating" clearInput></ion-input>
      </div>

      <div class="auth-input">
        <ion-input type="password" fill="solid" label="Парола*" labelPlacement="floating" clearInput></ion-input>
      </div>

      <div class="auth-input">
        <ion-input type="password" fill="solid" label="Повтори парола*" labelPlacement="floating"
          clearInput></ion-input>
      </div>

      <div class="auth-input">
        <ion-input type="text" fill="solid" label="Име" labelPlacement="floating" clearInput></ion-input>
      </div>

      <div class="auth-input">
        <ion-input type="text" fill="solid" label="Фамилия" labelPlacement="floating" clearInput></ion-input>
      </div>

      <div class="auth-input">
        <ion-select interface="popover" placeholder="Населено място" class="region-select" slot="end" name="region">
          <ion-select-option value="{{region}}" *ngFor="let region of bulgarianRegions">{{region}}</ion-select-option>
        </ion-select>
      </div>

    </div>

    <div class="main-button-wrapper">
      <button class="main-button">Регистрация</button>
    </div>
  </form>
</ng-container>
<ng-container *ngIf="!userChecked">
  <app-organization-register></app-organization-register>
</ng-container>