<ion-tabs>
  <ion-tab-bar slot="bottom" class="tab-container">
    <ion-tab-button tab="home">
      <ion-icon [src]="home" class="tab-icon" name="home"></ion-icon>
      <ion-label class="label">Начало</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="calendar">
      <ion-icon [src]="calendar" class="tab-icon" name="calendar"></ion-icon>
      <ion-label class="label">Календар</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="events">
      <ion-icon [src]="events" class="tab-icon" name="flag"></ion-icon>
      <ion-label class="label">Събития</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="favourites">
      <ion-icon [src]="favorite" class="tab-icon" name="heart"></ion-icon>
      <ion-label class="label">Любими</ion-label>
    </ion-tab-button>

    <ion-tab-button
      tab="user/profile"
      [class.tab-selected]="selectedPath.includes('profile')"
    >
      <ion-icon [src]="profile" class="tab-icon" name="person"></ion-icon>
      <ion-label class="label">Профил</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
