.tab-container{
  background-color: rgb(13, 13, 13);
  border-top: 1px solid white;
  height: 56px;
}
.tab-container {
  padding: 0 12px;
}
.tab-icon {
  width: 24px;
  height: 24px;
}

.label {
  font-size: 12px;
}
