<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/home">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="calendar" href="/calendar">
      <ion-icon aria-hidden="true" name="calendar"></ion-icon>
      <ion-label>Calendar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search" href="/search">
      <ion-icon aria-hidden="true" name="search"></ion-icon>
      <ion-label>Search</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notifications" href="/notifications">
      <ion-icon aria-hidden="true" name="notifications"></ion-icon>
      <ion-label>Notifications</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/tabs/profile">
      <ion-icon aria-hidden="true" name="person"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
