ion-tabs .tab-container.md.hydrated{
  background-color: rgb(13, 13, 13) !important;
  border-top: 1px solid white;
  height: 56px;
  .tab-has-label{
    background-color: rgb(13, 13, 13) !important;
  }
}
.tab-container {
  padding: 0 12px;
}
.tab-icon {
  width: 24px;
  height: 24px;
}

.label {
  font-size: 12px;
}
