<div>
  <app-title-fades [color]="titleColor" [title]="titleText" />
  <ion-searchbar placeholder="Търси събитие" class="custom" (ionChange)="searchChangeHandler($event)"></ion-searchbar>
  <!-- <input type="text" class="custom-search" placeholder="Търси събитие"> -->
  <div class="select-section">
    <ion-list class="select">
      <ion-item>
        <ion-select
          interface="popover"
          placeholder="{{ category }}"
          class="select-item"
          [multiple]="true"
          (ionChange)="categoryChangeHandler($event)"
        > <ion-select-option value="">{{category}}</ion-select-option>
          <ion-select-option *ngFor="let item of categories | keyvalue" [value]="item.key">{{ item.value }}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-list class="select">
      <ion-item>
        <ion-select
          interface="popover"
          placeholder="{{ location }}"
          class="select-item"
          [multiple]="true"
          (ionChange)="locationChangeHandler($event)"
        >
          <ion-select-option value="">{{location}}</ion-select-option>
          <ion-select-option *ngFor="let item of regions | keyvalue" [value]="item.key">{{ item.value }}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <!-- <app-select [placeholder]="Category" [data] = "categories" class="select-item" [handleChange] ="categoryChangeHandler"></app-select>
    <app-select [placeholder]="Location" [data] = "regions" class="select-item" [handleChange] ="locationChangeHandler"></app-select> -->
  </div>
  <!-- TODO: Град Дата Категория -->
</div>
