ion-searchbar.custom {
  margin: 0 auto;
  padding: 18px 16px 12px 32px;
  border-bottom: 1px solid #fff;
  width: 91%;
  min-height: 56px;
  --background: #000;
  --color: #fff;
  --placeholder-color: #fff;
  --icon-color: #fff;
  --clear-button-color: #fff;
  --placeholder-opacity: 1;
}
.select-section {
  max-width: 91%;
  margin: 16px auto;
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  gap:16px
  /* flex-direction: column; */
}

.select-item {
  flex: 1 0 47%;
}


/* select style */
.select {
  display: flex;
  width: 100%;
  max-width: 156px;
  height: 40px;
  align-items: center;
  gap: 12px;
  border-bottom: 1px solid #fff;
}
ion-select::part(placeholder) {
  color: #fff;
  width: 70px;
  margin-right: 2.2em;
  opacity: 1;
  font-size: 14px;
}
ion-select::part(container) {
  display: flex;
  justify-content: space-between;
}

ion-select::part(icon) {
  color: #fff;
  opacity: 1;
}
/* .select {
  display: flex;
  width: 100%;
  height: 56px;
  align-items: center;
  gap: 12px;
  border-bottom: 1px solid #fff;
}
ion-select::part(placeholder) {
  color: #fff;
  width: 70px;
  margin-right: 2.2em;
  opacity: 1;
  font-size: 14px;
}
ion-select::part(container) {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

ion-select::part(icon) {
  color: #fff;
  opacity: 1;
  width: 20px;
  height: 20px;
}

ion-select::part(native).item-inner{
  border-style: none !important;
}
 */
