ion-searchbar.custom {
  margin: 0 auto;
  padding: 18px 16px 12px 0;
  border-bottom: 1px solid #fff;
  width: 91%;
  height: 56px;
  --color: #fff;
  --placeholder-color: #fff;
  --icon-color: #fff;
  --clear-button-color: #fff;
  --placeholder-opacity: 1;
}

ion-searchbar.custom:hover {
  border-color: #ff7418;
  /* --color: #ff7418; */
  --icon-color: #ff7418;
  --placeholder-color: transparent;
  --clear-button-color: #ff7418;
}

/* select style */
.select-section {
  max-width: 91%;
  margin: 0 auto;
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  gap: 16px
}

.select {
  flex: 1 0 47%;
  background: transparent;
  display: flex;
  width: 47%;
  height: 56px;
  align-items: center;
  gap: 12px;
  padding-left: 1em;
  border-bottom: 1px solid #fff;

  .select-label-placement-floating {
    width: 98%;
  }

  ion-select.select-item::part(icon) {
    bottom: 1em;
    right: 0.8em;
  }
}

.select:hover {
  border-color: #ff7418;
}

ion-select::part(placeholder) {
  color: #fff;
  /* width: 70px; */
  margin-right: 2.2em;
  opacity: 1;
  font-size: 14px;
}

ion-select::part(container):active {
  --color: #ff7418;
  --placeholder-color: #ff7418;

}

ion-select::part(icon) {
  color: #ffffff;
  content: url("../../../../assets/icon/arrow-up-down.svg");
  position: absolute;
  right: 1em;
  top: transform(translateY(-50%));
  height: 20px;
  width: 10px;
}

ion-select::part(content) {
  background-color: #ff7418;
}

::ng-deep #select-label {
  max-width: 100%;
}

::ng-deep .alert-wrapper {
  border: 1px solid #A6A2A0 !important;

  .alert-head {
    display: flex;
    align-items: center;
    height: 40px;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    background-color: #0D0D0D;

    .alert-title.sc-ion-alert-ios {
      color: rgb(255, 117, 26);
      margin: 0 auto;
    }
  }

  .alert-message.sc-ion-alert-ios {
    display: none;
  }

  .alert-checkbox-group::-webkit-scrollbar {
    width: 0.75em;
    display: block !important;
    background-color: #33312F;
  }


  .alert-checkbox-group::-webkit-scrollbar-thumb {
    background-color: #a6a2a0;
  }

  .alert-checkbox-icon {
    background-color: #A6A2A0 !important;
  }

  [aria-checked=true].sc-ion-alert-ios .alert-checkbox-icon.sc-ion-alert-ios {
    background-color: rgb(255, 117, 26) !important;
  }

  [aria-checked=true].sc-ion-alert-ios .alert-checkbox-inner.sc-ion-alert-ios {
    color: #FFFFFF;
    border-color: #FFFFFF;
  }

  .alert-button-inner.sc-ion-alert-ios {
    background-color: #0D0D0D;
    border-bottom: 1px solid #A6A2A0 !important;
    border-right: 1px solid #A6A2A0 !important;
  }

  .alert-button-group {
    .alert-button {
      padding: 0;
    }

    .alert-button>span {
      padding: 0;
      border-bottom: 0px !important;
      border-right: 0px !important;
    }
  }
}