ion-searchbar.custom {
  margin: 0 auto;
  padding: 18px 16px 12px 0;
  border-bottom: 1px solid #fff;
  width: 91%;
  height: 56px;
  --color: #fff;
  --placeholder-color: #fff;
  --icon-color: #fff;
  --clear-button-color: #fff;
  --placeholder-opacity: 1;
}
ion-searchbar.custom:hover{
  border-color: #ff7418;
  /* --color: #ff7418; */
  --icon-color: #ff7418;
  --placeholder-color: transparent;
  --clear-button-color: #ff7418;
}
/* select style */
.select-section {
  max-width: 91%;
  margin: 0 auto;
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  gap:16px
}
.select {
  background: transparent;
  display: flex;
  width: 100%;
  height: 56px;
  align-items: center;
  gap: 12px;
  padding-left: 1em;
  border-bottom: 1px solid #fff;
}
.select:hover{
  border-color: #ff7418;
}
ion-select::part(placeholder) {
  color: #fff;
  width: 70px;
  margin-right: 2.2em;
  opacity: 1;
  font-size: 14px;
}

ion-select::part(container) {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
ion-select::part(container):active{
  --color:#ff7418;
  --placeholder-color:#ff7418;

}
ion-select::part(icon) {
  color: #ffffff;
  content: url("../../../../assets/icon/arrow-up-down.svg");
  position: absolute;
  right: 1em;
  top: transform(translateY(-50%));
  height: 20px;
  width: 10px;
}

ion-select::part(content){
  background-color: #ff7418;
}