.home-header{
  padding: 0;
}

.page-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 24px 0 24px;
  height: 56px;
  position: relative;



  .logo-container{
    height: 56px;
    position: relative

    
  }

  .logo-container img {
    width: 26px;
    height: 26px;
    position: relative;
    top: 14px;
  }


  .notifinations-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 56px;
    width: 40px;
  }

  ion-icon{
    width: 24px;
    height: 24px;
    margin-top: 5px;
    position: absolute;
    top:10px
  }


  .notifications{
    width: 12px;
    height: 12px;
    position: absolute;
    text-align: center;
    top: 12px;
    right: 1px;
    padding: 8px;
    background-color: rgba(255, 116, 24, 1);
    border-radius: 100%;
    font-weight: 900;
    color: rgba(0, 0, 0, 1);
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}






  
  
  