<ion-content>
  <!-- <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/tabs/events"></ion-back-button>
      </ion-buttons>
      <ion-title>Детайли за събитие</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <div class="ion-margin-vertical">
    <app-title-fades [color]="titleSeparatorColor" [title]="mockEvent.shortTitle" />
  </div>

  <div class="ion-padding-horizontal">
    <p class="long-title">{{mockEvent.longTitle}}</p>

    <div class="image-wrapper">
      <img alt="{{mockEvent.shortTitle}}" src="{{mockEvent.imageUrl}}" class="event-image" />
      <ion-icon name="heart-outline" class="event-like-btn"></ion-icon>
    </div>

    <div class="category-city-wrapper">
      <span class="badge">{{mockEvent.category}}</span>
      <span class="badge">{{mockEvent.contacts.region}}</span>
    </div>

    <p class="long-description">{{mockEvent.longDescription}}</p>
  </div>

  <div class="ion-margin-vertical">
    <app-title-fades [color]="infoSeparatorColor" [title]="infoSeparatorText" />
  </div>

  <div class="ion-padding-horizontal">
    <div>
      <p class="info-title">Организатор на събитието:</p>
      <p>"{{mockEvent.creator}}"</p>
    </div>

    <div class="date-wrapper">
      <p class="info-title">{{mockEvent.dates.length > 1 ? 'Дати:' : 'Дата:'}}</p>
      <ion-grid class="ion-no-padding">
        <ion-row *ngFor="let date of mockEvent.dates">
          <ion-col class="ion-text-justify" size="medium">{{date.date}} г.</ion-col>
          <ion-col size="auto" class="ion-text-center"> &nbsp; - &nbsp; от {{ date.startTime }} </ion-col>
          <ion-col size="auto">&nbsp; до &nbsp;</ion-col>
          <ion-col size="auto" class="ion-text-center"> {{ date.endTime }}</ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <ng-container *ngIf="mockEvent.visitorPrices">
      <p *ngFor="let visitorPrice of mockEvent.visitorPrices">{{visitorPrice.description}}: {{visitorPrice.price}} лв.
      </p>
    </ng-container>
    <ng-container *ngIf="mockEvent.participantPrices">
      <p *ngFor="let participantPrice of mockEvent.participantPrices">{{participantPrice.description}}:
        {{participantPrice.price}} лв.</p>
    </ng-container>

    <div class="contacts">
      <h5>Контакти</h5>
      <p>
        <a href="tel:{{mockEvent.contacts.phone}}">{{mockEvent.contacts.phone}}</a>
        <ng-container *ngIf="mockEvent.contacts.email">,
          <a href="mailto:{{mockEvent.contacts.email}}">{{mockEvent.contacts.email}}</a>
        </ng-container>
      </p>
    </div>
    <div class="where">
      <h5>Къде?</h5>
      <p>град/село {{mockEvent.contacts.region}}, {{mockEvent.contacts.address}}</p>
    </div>
    <div class="google-maps-wrapper">
      <capacitor-google-map #map></capacitor-google-map>
    </div>
  </div>
</ion-content>