<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/events"></ion-back-button>
    </ion-buttons>
    <ion-title>Event Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <div class="image-wrapper">
      <img alt="{{mockEvent.title}}" src="{{mockEvent.imageUrl}}" class="event-image"/>
      <ion-icon name="heart-outline" class="event-like-btn"></ion-icon>
    </div>
    <ion-card-header>
      <ion-card-title class="event-title">{{mockEvent.title}}</ion-card-title>
      <ion-card-subtitle>{{mockEvent.shortDescription}}</ion-card-subtitle>
    </ion-card-header>
  </div>
</ion-content>