<!-- TODO: what we will display then there are no dates? -->

<app-title-fades [color]="titleColor" [title]="titleText" />

<swiper-container
  [slidesPerView]="1.7"
  [spaceBetween]="16"
  pagination="true"
  pagination-dynamic-bullets="true"
  (swiperslidechange)="swiperSlideChanged($event)"
  [paginationCenteredSlides]="true"
>
  <swiper-slide *ngFor="let event of upcomingEvents">
    <app-slide-card [event]="event" />
  </swiper-slide>
</swiper-container>
<div class="ion-padding-horizontal" *ngIf="isAdminOrOrganization">
  <div class="main-button-wrapper">
    <span [routerLink]="['/tabs/events/create']" class="main-button"
      >Създай събитие</span
    >
  </div>
</div>
