<ng-container *ngIf="upcomingEvents && upcomingEvents.length > 0">
  <app-title-fades [color]="titleColor" [title]="titleText" />

  <swiper-container
    [slidesPerView]="1.7"
    [spaceBetween]="16"
    pagination="true"
    pagination-dynamic-bullets="true"
    [paginationCenteredSlides]="true"
  >
    <swiper-slide *ngFor="let event of upcomingEvents">
      <app-slide-card [event]="event" />
    </swiper-slide>
  </swiper-container>
</ng-container>

<div class="ion-padding-horizontal" *ngIf="isAdminOrOrganization">
  <div class="main-button-wrapper">
    <ion-icon [src]="addIcon" class="add-icon" />
    <span [routerLink]="['/tabs/events/create']" class="main-button"
      >Създай събитие</span
    >
  </div>
</div>

<!-- toaster message -->
<app-toaster
  [toasterMessage]="toasterMessage"
  [toasterType]="toasterType"
></app-toaster>
