.a{
    margin-top: 10px;
    height: 22vh;
    
    .b{
        .c{
            height: 22vh;
            margin: 10px;
            img {
                width: 100%;
                height: 18vh;
                border-radius: 5px;
                box-shadow: -1px 11px 13px -6px rgb(87, 86, 85);
            }
        }
    }
}