<ion-content>
  <p>Сигурни ли сте, че искате да изтриете събитието?</p>

  <ion-footer>
    <div class="modal-picker-action-buttons">
      <ion-buttons (click)="closeModal()">
        <ion-button slot="start">Откажи</ion-button>
      </ion-buttons>
      <ion-buttons slot="end" (click)="onDoneClick()">
        <ion-button class="modal-confirm-button">Да</ion-button>
      </ion-buttons>
      <app-toaster
        *ngIf="showToaster"
        [toasterMessage]="toasterMessage"
        [toasterType]="toasterType"
      ></app-toaster>
    </div>
  </ion-footer>
</ion-content>
