ion-input {
  label {
    color: #fff;
  }
}

ion-modal {
  ion-item {
    --background: #0b0b0b;
  }
}

// calendar modal fine tunning
ion-modal.address-modal::part(content) {
  height: 750px;
  width: 90%;
}

ion-searchbar {
  margin-top: 1em;
}

// google maps
.google-maps-wrapper {
  display: inline-block;
  height: 240px;
  width: 100%;
}

capacitor-google-map {
  display: inline-block;
  height: 100%;
  width: 100%;
  box-shadow: 0px 0px 8px 1px rgba(255, 220, 35, 0.3);
  border-radius: 4px;
}
