ion-input {
  label {
    color: #fff;
  }
}
// success state
ion-input.custom-valid-input {
  border-bottom: 1px solid #008000;

  ::ng-deep .label-text {
    color: #008000;
  }
}

// error state
ion-input.custom-invalid-input {
  border-bottom: 1px solid red;

  ::ng-deep .label-text {
    color: #ff0000;
  }
}

ion-modal {
  ion-item {
    --background: #0b0b0b;
  }
}

// calendar modal fine tunning
ion-modal.address-modal::part(content) {
  height: 750px;
  width: 90%;
}

ion-searchbar {
  --background: transparent;
  --border-radius: 0;
  --placeholder-color: #fff;
  --icon-color: #fff;
  --placeholder-opacity: 1;
  --clear-button-color: #fff;
  border-bottom: 1px solid #fff;
  margin: 1em 0;
  ::ng-deep.searchbar-input {
    margin-left: 0.5em;
  }
}

ion-searchbar.searchbar-has-focus {
  --icon-color: #ff7418;
  border-bottom: 1px solid #ff7418;
}

// google maps
.google-maps-wrapper {
  display: inline-block;
  height: 240px;
  width: 100%;
}

capacitor-google-map {
  display: inline-block;
  height: 100%;
  width: 100%;
  box-shadow: 0px 0px 8px 1px rgba(255, 220, 35, 0.3);
  border-radius: 4px;
}
