.home-header {
  padding: 10px;
  background: none;
}

.header-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .logo-container img {
    width: 100px;
  }

  ion-icon {
    margin-top: 10px;
    font-size: 60px;
  }

  .notifination-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .notifination-icon ion-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-80%);
  }

  .notifination-icon ion-card-content{
    font-size: 18px;
  }
}

  
  
  