
.home-header{
    padding: 10px;
    background: none;
    
  }
  
  .header-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
    .logo-container img{
      width: 100px;
    }
    
    ion-icon {
      margin-top: 5px;
      font-size: 50px; 
    }
  }
  
  
  
  