.upcoming-events-title{
  margin-top: 24px;
  position: relative;
  overflow: hidden;
  height: 32px;
  background: linear-gradient(270deg, transparent , #FFDC23 20%);
  h2{
      margin: 0;
      padding-top: 7px;
      height: 32px;
      font-weight: 700;
      font-size: 18px;
      line-height: 21.6px; 
      text-align: center;
      color: #0D0D0D;
      position: relative;

   }
   .first-line{
      border: 9px solid black;
      height: 200px;
      width: 200px;
      position: absolute;
      transform: translateY(-50%) rotate(45deg);
      top: 50%;
      right: 92%;
   }

   .second-line{
      border: 9px solid black;
      height: 200px;
      width: 200px;
      position: absolute;
      transform: translateY(-50%) rotate(45deg);
      top: 50%;
      right: 98%;
   }

}


.categories-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 16px;
    list-style: none;
    background: none;
    padding: 16px 16px 16px 16px;
    margin: 0;
  }


  .category-card {
    text-align: center;
    height: 156px;
    border-radius: 2px;
    width: 100%;
    border-radius: 4px;
    background: transparent;
    box-shadow: 0 0 10.5px -5px #FFDC23;
    padding: 0;
    margin: 0;
  }



  .category-card.all{
    grid-column: span 2;
  }
  
  
  .category-image-container {
    position: relative;
    height: 100%;
    width: 100%; 
  }
  
  .category-image {
    width: 100%;
    height: 100%; 
  }
  
  .category-title {
    background: rgba(0, 0, 0, 0.85);
    color: white;
    width: 100%;
    height: 48px;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
  }
  