<app-title-fades [color]="titleColor" [title]="titleText" />

<ion-list lines="none" class="categories-list">
  <ion-card
    class="category-card all"
    [routerLink]="['/tabs/events', { sortBy: 'all' }]"
  >
    <ion-card-header class="category-title">Всички категории</ion-card-header>
    <img
      src="../../../assets//icon/category-icons/all.jpg"
      alt="Category Image"
      class="category-image"
    />
  </ion-card>

  <ion-card
    class="category-card"
    *ngFor="let eventType of eventsType"
    [routerLink]="['/tabs/events', { sortBy: eventType.type }]"
  >
    <ion-card-header class="category-title">
      {{ eventType.type }}
    </ion-card-header>
    <img
      [src]="eventType.imageUrl"
      alt="Category Image"
      class="category-image"
    />
  </ion-card>
</ion-list>
