
.categories-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 16px;
    background: #0D0D0D;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0;
  }


  .category-card {
    text-align: center;
    height: 100%;
    width: 100%;
    border-radius: 2px;
    border-radius: 4px;
    background: transparent;
    box-shadow: 0 0 10.5px -5px #FFDC23;
    margin: 0;
  }



  .category-card.all{
    grid-column: span 2;
  }
  
  .category-image {
    width: 100%;
    height: 80%; 
    padding: 4px;
    border-radius: 6px;
  }
  
  .category-title {
    color: white;
    width: 100%;
    height: 20%;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  