.categories-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 16px;
  background: #0d0d0d;
  padding: 16px;
  margin: 0;
}

.category-card {
  text-align: center;
  min-height: 160px;
  width: 100%;
  background: transparent;
  box-shadow: 0 0 10.5px -5px #ffdc23;
  margin: 0;
  padding: 4px;
}

.category-card.all {
  grid-column: span 2;
}

.category-image {
  width: 100%;
  height: 127px;
  border-radius: 4px;
}

.category-title {
  width: 100%;
  height: 21px;
  text-align: center;
  position: absolute;
  bottom: 4px;
  left: 0;
  line-height: 21px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  h3 {
    color: white;
    font-weight: 600;
    font-size: 14px;
  }
}
