<div class="upcoming-events-title">
  <h2>Категории</h2>
  <div class="first-line"></div>
  <div class="second-line"></div>
</div>

<ion-list lines="none" class="categories-list">
  <ion-card class="category-card all">
    <ion-card-header class="category-title">Всички категории</ion-card-header>
    <img
      src="../../../assets//icon/category-icons/all.jpg"
      alt="Category Image"
      class="category-image"
    />
  </ion-card>

  <ion-card class="category-card" *ngFor="let eventType of eventsType">
    <ion-card-header class="category-title">
      {{ eventType.type }}
    </ion-card-header>
    <img
      [src]="eventType.imageUrl"
      alt="Category Image"
      class="category-image"
    />
  </ion-card>
</ion-list>
