<ion-content [fullscreen]="true">
  <ion-header class="header-menu">
    <app-header></app-header>
    <div class="login-header-image">
      <!-- <img src="../../../assets/images/login-img-cars.jpg" alt="login-img-cars"> -->
    </div>
  </ion-header>

  <div class="container ion-padding-horizontal">

    <div class="heading-title">
      <h1>Вход</h1>
      <p>Влезте във Вашия акаунт</p>
    </div>

    <div class="segment">
      <ion-segment value="login">
        <ion-segment-button value="login">
          <ion-label>Вход</ion-label>
        </ion-segment-button>
        <ion-segment-button value="register">
          <ion-label>Регистрация</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>

    <div class="login-form">
      <form>
        <div class="input-wrapper">
          <div class="input-with-icon">
            <input type="text" placeholder="Имейл">
            <ion-icon name="mail"></ion-icon>
          </div>
  
          <div class="input-with-icon">
            <input type="password" placeholder="Парола">
            <ion-icon name="lock-closed"></ion-icon>
          </div>
        </div>

        <div class="main-button-wrapper">
          <button class="main-button">Вход</button>
        </div>
      </form>
    </div>

    <div class="sign-up-link">
      <p>Ако нямате създаден профил можете да се регистрирате от <span routerLink="">ТУК</span></p>
    </div>

  </div>
</ion-content>