<ion-content [fullscreen]="true">
  <ion-header class="header-menu">
    <app-header [backButton]="backButton"></app-header>
    <div class="login-header-image">
    </div>
  </ion-header>

  <div class="container ion-padding-horizontal">

    <div class="heading-title">
      <h1>Вход</h1>
      <p>Влезте във Вашия акаунт</p>
    </div>

    <div class="segment">
      <ion-segment value="login" [(ngModel)]="authSegment" (ionChange)="segmentChanged($event)">
        <ion-segment-button value="login">
          <ion-label>Вход</ion-label>
        </ion-segment-button>
        <ion-segment-button value="register">
          <ion-label>Регистрация</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>
    <!-- TODO: Working template form -->

    <div class="login-form" *ngIf="authSegment == 'login' else register">
      <form>
        <div class="input-wrapper">
          <div class="input-with-icon">
            <input type="text" placeholder="Имейл">
            <ion-icon name="mail" class="input-icons"></ion-icon>
          </div>

          <div class="input-with-icon">
            <input type="password" placeholder="Парола">
            <ion-icon name="lock-closed" class="input-icons"></ion-icon>
          </div>
        </div>

        <div class="main-button-wrapper">
          <button class="main-button">Вход</button>
        </div>
      </form>
      <div class="sign-up-link">
        <p>Ако нямате създаден профил можете да се регистрирате от <span><a
              [routerLink]="['/tabs/user/register']">ТУК</a></span>
        </p>
      </div>
    </div>

    <ng-template #register>
      <p>register</p>
    </ng-template>



  </div>
</ion-content>