<form>
  <div class="auth-wrapper">

    <div class="auth-input">
      <ion-input type="email" fill="solid" label="Имейл*" labelPlacement="floating" clearInput></ion-input>
    </div>

    <div class="auth-input">
      <ion-input type="password" fill="solid" label="Парола*" labelPlacement="floating" clearInput></ion-input>
    </div>

    <div class="auth-input">
      <ion-input type="password" fill="solid" label="Повтори парола*" labelPlacement="floating" clearInput></ion-input>
    </div>

    <div class="auth-input">
      <ion-input type="text" fill="solid" label="Име на организатор*" labelPlacement="floating" clearInput></ion-input>
    </div>

    <div class="auth-input">
      <ion-input type="text" fill="solid" label="Име на мениджъра*" labelPlacement="floating" clearInput></ion-input>
    </div>

    <div class="auth-input">
      <ion-select interface="popover" placeholder="Населено място" class="region-select" slot="end" name="region">
        <ion-select-option value="{{region}}" *ngFor="let region of bulgarianRegions">{{region}}</ion-select-option>
      </ion-select>
    </div>

    <div class="auth-input">
      <ion-input type="text" fill="solid" label="Телефон" labelPlacement="floating" clearInput></ion-input>
    </div>

  </div>

  <div class="main-button-wrapper">
    <button class="main-button">Регистрация</button>
  </div>
</form>