<form>
  <div class="auth-wrapper">

    <!-- email -->
    <div class="auth-input">
      <ion-input type="email" fill="solid" label="Имейл*" labelPlacement="floating" clearInput name="email" ngModel
        #email="ngModel" clearInput required pattern="^[a-zA-Z0-9\._+\-]+@[a-zA-Z0-9\.]+\.[a-zA-Z]{2,}$"></ion-input>
    </div>

    <ng-container *ngIf="email.touched">
      <p class="auth-validation-error-message" *ngIf="email.errors?.['required']">
        Полето е задължително за попълване!
      </p>
      <p class="auth-validation-error-message" *ngIf="email.errors?.['pattern']">
        Моля въведете валиден имейл!
      </p>

      <!-- TODO: When server returns email already taken -->
      <!-- <p class="auth-validation-error-message" *ngIf="emailError">
        Този имейл вече е използван!
      </p> -->
    </ng-container>

    <!-- password -->
    <div class="auth-input">
      <ion-input type="password" fill="solid" label="Парола*" labelPlacement="floating" clearInput name="password"
        ngModel #password="ngModel" required minlength="8" clearInput
        pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!\s).+$"></ion-input>
    </div>

    <ng-container *ngIf="password.touched">
      <p class="auth-validation-error-message" *ngIf="password.errors?.['required']">
        Полето е задължително за попълване!
      </p>
      <p class="auth-validation-error-message" *ngIf="password.errors?.['minlength']">
        Паролата трябва да е с дължина поне 8 символа!
      </p>
      <p class="auth-validation-error-message" *ngIf="password.value && !password.value.match('\\d')">
        Изисква се поне една цифра в паролата!
      </p>
      <p class="auth-validation-error-message" *ngIf="password.value && !password.value.match('[a-z]')">
        Паролата трябва да съдържа поне 1 малка буква!
      </p>
      <p class="auth-validation-error-message" *ngIf="password.value && !password.value.match('[A-Z]')">
        Паролата трябва да съдържа поне 1 голяма буква!
      </p>
      <p class="auth-validation-error-message" *ngIf="password.value && password.value.includes(' ')">
        Паролата не трябва да съдържа празни места!
      </p>
    </ng-container>

    <!-- repeat password -->
    <div class="auth-input">
      <ion-input type="password" fill="solid" label="Повтори парола*" labelPlacement="floating" clearInput
        name="repeatPassword" ngModel #repeatPassword="ngModel" required clearInput
        pattern="{{ password.value }}"></ion-input>
    </div>

    <ng-container *ngIf="repeatPassword.touched">
      <p class="auth-validation-error-message" *ngIf="repeatPassword.errors?.['required']">
        Полето е задължително за попълване!
      </p>
      <p class="auth-validation-error-message" *ngIf="repeatPassword.errors?.['pattern']">
        Моля уверете се, че паролите съвпадат!
      </p>
    </ng-container>

    <!-- organizator name -->
    <div class="auth-input">
      <ion-input type="text" fill="solid" label="Име на организатор*" labelPlacement="floating" clearInput
        name="organizatorName" ngModel #organizatorName="ngModel" required pattern="^[a-zA-Zа-яА-Я0-9]+$"></ion-input>
    </div>

    <ng-container *ngIf="organizatorName.touched">
      <p class="auth-validation-error-message" *ngIf="organizatorName.errors?.['required']">
        Полето е задължително за попълване!
      </p>
      <p class="auth-validation-error-message" *ngIf="organizatorName.errors?.['pattern']">
        Непозволен символ в името на организатор!
      </p>
    </ng-container>

    <!-- manager first name -->
    <div class="auth-input">
      <ion-input type="text" fill="solid" label="Име на мениджъра*" labelPlacement="floating" clearInput
        name="firstName" ngModel #firstName="ngModel" required pattern="^[a-zA-Zа-яА-Я]+$"></ion-input>
    </div>

    <ng-container *ngIf="firstName.touched">
      <p class="auth-validation-error-message" *ngIf="firstName.errors?.['required']">
        Полето е задължително за попълване!
      </p>
      <p class="auth-validation-error-message" *ngIf="firstName.errors?.['pattern']">
        Името трябва да съдържа само букви!
      </p>
      <p class="auth-validation-error-message" *ngIf="firstName.value && firstName.value.includes(' ')">
        Не може да съдържа празни пространства!
      </p>
    </ng-container>

    <!-- manager last name -->
    <div class="auth-input">
      <ion-input type="text" fill="solid" label="Фамилия на мениджъра*" labelPlacement="floating" clearInput
        name="lastName" ngModel #lastName="ngModel" required pattern="^[a-zA-Zа-яА-Я]+$"></ion-input>
    </div>

    <ng-container *ngIf="lastName.touched">
      <p class="auth-validation-error-message" *ngIf="lastName.errors?.['required']">
        Полето е задължително за попълване!
      </p>
      <p class="auth-validation-error-message" *ngIf="lastName.errors?.['pattern']">
        Името трябва да съдържа само букви!
      </p>
      <p class="auth-validation-error-message" *ngIf="lastName.value && lastName.value.includes(' ')">
        Не може да съдържа празни пространства!
      </p>
    </ng-container>

    <!-- region -->
    <div class="auth-input">
      <ion-select interface="popover" placeholder="Населено място" class="region-select" slot="end" name="region">
        <ion-select-option value="{{region}}" *ngFor="let region of bulgarianRegions">{{region}}</ion-select-option>
      </ion-select>
    </div>

    <div class="auth-input">
      <ion-input type="text" fill="solid" label="Телефон*" labelPlacement="floating" name="phone" clearInput required
        ngModel #phone="ngModel" pattern="^[\d\+\-\(\) ]+$"></ion-input>
    </div>

    <ng-container *ngIf="phone.touched">
      <p class="auth-validation-error-message" *ngIf="phone.errors?.['required']">
        Полето е задължително за попълване!
      </p>
      <p class="auth-validation-error-message" *ngIf="phone.errors?.['pattern']">
        Телефона трябва да съдържа само числа
      </p>
    </ng-container>

  </div>

  <div class="main-button-wrapper">
    <button class="main-button">Регистрация</button>
  </div>
</form>