<ion-content>
  <div class="loader" *ngIf="isLoading">
    <p>loading...</p>
  </div>
  <app-header [headerTitle]="pageTitle" />

  <ng-container *ngIf="!isLoading">
    <app-dates
      (selectedDateChange)="handleSelectedDateChange($event)"
      [highlightedDates]="highlightedDates"
    ></app-dates>

    <app-calendar-list
      [selectedDate]="selectedDate"
      [currentMonthEvents]="currentMonthEvents"
    />
  </ng-container>
</ion-content>
<!-- toaster message -->
<app-toaster
  [toasterMessage]="toasterMessage"
  [toasterType]="toasterType"
></app-toaster>
