<ion-content mode="ios">
  <p>Въведи новата парола</p>

  <form
    #editPassword="ngForm"
    class="auth-wrapper"
    (submit)="onConfirmNewPassword(editPassword)"
  >
    <!-- old password input -->
    <div class="auth-input">
      <ion-input
        type="password"
        fill="solid"
        label="Стара парола*"
        labelPlacement="floating"
        name="oldPassword"
        ngModel
        #oldPassword="ngModel"
        required
        minlength="6"
        maxlength="24"
        clearInput
        pattern="^\S+$"
      ></ion-input>
    </div>

    <ng-container *ngIf="oldPassword.touched">
      <p
        class="auth-validation-error-message"
        *ngIf="oldPassword.errors?.['required']"
      >
        Полето е задължително за попълване!
      </p>
      <p
        class="auth-validation-error-message"
        *ngIf="oldPassword.errors?.['minlength']"
      >
        Паролата трябва да е с дължина поне 6 символа!
      </p>
      <p
        class="auth-validation-error-message"
        *ngIf="oldPassword.errors?.['maxlength']"
      >
        Паролата трябва да е с максимална дължина 24 символа!
      </p>
      <p
        class="auth-validation-error-message"
        *ngIf="oldPassword.value && oldPassword.value.includes(' ')"
      >
        Паролата не трябва да съдържа празни места!
      </p>
    </ng-container>

    <div class="auth-input">
      <ion-input
        type="password"
        fill="solid"
        label="Парола*"
        labelPlacement="floating"
        name="newPassword"
        ngModel
        #newPassword="ngModel"
        required
        minlength="6"
        maxlength="24"
        clearInput
        pattern="^\S+$"
      ></ion-input>
    </div>

    <ng-container *ngIf="newPassword.touched">
      <p
        class="auth-validation-error-message"
        *ngIf="newPassword.errors?.['required']"
      >
        Полето е задължително за попълване!
      </p>
      <p
        class="auth-validation-error-message"
        *ngIf="newPassword.errors?.['minlength']"
      >
        Паролата трябва да е с дължина поне 6 символа!
      </p>
      <p
        class="auth-validation-error-message"
        *ngIf="newPassword.errors?.['maxlength']"
      >
        Паролата трябва да е с максимална дължина 24 символа!
      </p>
      <p
        class="auth-validation-error-message"
        *ngIf="newPassword.value && newPassword.value.includes(' ')"
      >
        Паролата не трябва да съдържа празни места!
      </p>
    </ng-container>

    <!-- repeat password -->
    <div class="auth-input">
      <ion-input
        type="password"
        fill="solid"
        label="Повтори парола*"
        labelPlacement="floating"
        name="newRepassword"
        ngModel
        #newRepassword="ngModel"
        required
        clearInput
        pattern="{{ newPassword.value }}"
      ></ion-input>
    </div>

    <ng-container *ngIf="newRepassword.touched">
      <p
        class="auth-validation-error-message"
        *ngIf="newRepassword.errors?.['required']"
      >
        Полето е задължително за попълване!
      </p>
      <p
        class="auth-validation-error-message"
        *ngIf="newRepassword.errors?.['pattern']"
      >
        Моля уверете се, че паролите съвпадат!
      </p>
    </ng-container>

    <p class="auth-validation-error-message" *ngIf="errorMessage">
      {{ errorMessage }}
    </p>
  </form>

  <ion-footer>
    <div class="modal-picker-action-buttons">
      <ion-buttons (click)="closeModal($event)">
        <ion-button slot="start">Откажи</ion-button>
      </ion-buttons>
      <ion-buttons slot="end" (click)="onConfirmNewPassword(editPassword)">
        <ion-button class="modal-confirm-button" type="submit"
          >Смени паролата</ion-button
        >
      </ion-buttons>
    </div>
  </ion-footer>

  <!-- toaster -->
  <app-toaster
    [toasterMessage]="toasterMessage"
    [toasterType]="toasterType"
  ></app-toaster>
</ion-content>
