<ion-content mode="ios">
  <p>Въведи новата парола</p>

  <form
    #editPassword="ngForm"
    class="auth-wrapper"
    (submit)="onConfirmNewPassword(editPassword)"
  >
    <div class="auth-input">
      <ion-input
        type="password"
        fill="solid"
        label="Парола*"
        labelPlacement="floating"
        name="password"
        ngModel
        #password="ngModel"
        required
        minlength="6"
        maxlength="24"
        clearInput
        pattern="^\S+$"
      ></ion-input>
    </div>

    <ng-container *ngIf="password.touched">
      <p
        class="auth-validation-error-message"
        *ngIf="password.errors?.['required']"
      >
        Полето е задължително за попълване!
      </p>
      <p
        class="auth-validation-error-message"
        *ngIf="password.errors?.['minlength']"
      >
        Паролата трябва да е с дължина поне 6 символа!
      </p>
      <p
        class="auth-validation-error-message"
        *ngIf="password.errors?.['maxlength']"
      >
        Паролата трябва да е с максимална дължина 24 символа!
      </p>
      <p
        class="auth-validation-error-message"
        *ngIf="password.value && password.value.includes(' ')"
      >
        Паролата не трябва да съдържа празни места!
      </p>
    </ng-container>

    <!-- repeat password -->
    <div class="auth-input">
      <ion-input
        type="password"
        fill="solid"
        label="Повтори парола*"
        labelPlacement="floating"
        name="repassword"
        ngModel
        #repassword="ngModel"
        required
        clearInput
        pattern="{{ password.value }}"
      ></ion-input>
    </div>

    <ng-container *ngIf="repassword.touched">
      <p
        class="auth-validation-error-message"
        *ngIf="repassword.errors?.['required']"
      >
        Полето е задължително за попълване!
      </p>
      <p
        class="auth-validation-error-message"
        *ngIf="repassword.errors?.['pattern']"
      >
        Моля уверете се, че паролите съвпадат!
      </p>
    </ng-container>
  </form>

  <ion-footer>
    <div class="modal-picker-action-buttons">
      <ion-buttons (click)="closeModal($event)">
        <ion-button slot="start">Откажи</ion-button>
      </ion-buttons>
      <ion-buttons slot="end" (click)="onConfirmNewPassword(editPassword)">
        <ion-button class="modal-confirm-button" type="submit"
          >Смени паролата</ion-button
        >
      </ion-buttons>
    </div>
  </ion-footer>
</ion-content>
