.dates {
  padding: 0 16px;
  width: 100%;
}

ion-datetime {
  background-color: inherit;
  width: 100% !important;
  box-shadow: rgba(255, 116, 24, 0.3) 0px 0px 8px;
  border-radius: 4px;
  grid-template-rows: repeat(5, 1fr);
}
