.dates {
  padding: 0 16px;
  width: 100%;
}

ion-datetime {
  // background-color: inherit;
  // box-shadow: rgba(255, 116, 24, 0.3) 0px 0px 8px;
  // border-radius: 4px;
  --ion-color-step-650: white;

  .calendar-day.calendar-day-active {
    color: black;
  }
}

ion-datetime::part(today) {
  color: #fff !important;
  font-weight: 600 !important;
  background: none;
}
ion-datetime::part(today):focus {
  color: #000 !important;
  font-weight: 400 !important;
}

ion-datetime::part(calendar-day) {
  color: #c2bfbe;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border-radius: 4px;
  border: none;
}

ion-datetime::part(calendar-day):focus {
  background-color: rgba(255, 220, 35, 1);
  color: rgba(13, 13, 13, 1);
  font-weight: 600;
  border: none;
  border-color: none;
}

ion-datetime::part(wheel-item) {
  font-weight: 300;
  line-height: 24px;
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  margin: 2.5px 0;
}
ion-datetime.ios::part(calendar-day today),
ion-datetime.ios::part(calendar-day today):focus {
  background-color: rgb(154 209 98 / 0.2);
  color: #9ad162;
}

ion-datetime::part(wheel-item active) {
  color: rgb(128, 30, 171);
}

.calendar-action-buttons ion-item ion-label {
  color: white;
}

:host .calendar-days-of-week {
  font-size: 16px;
}

.calendar-info {
  width: 100%;
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;

  .existing-event-text,
  .marked-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    min-width: 128px;
  }

  .existing-event,
  .marked {
    min-width: 24px;
    min-height: 24px;
    border-radius: 4px;
  }

  .existing-event {
    background-color: rgba(255, 116, 24, 1);
    margin-right: 4px;
  }

  .marked {
    background-color: rgba(255, 220, 35, 1);
    margin: 0 4px;
  }
}
