<section class="dates">
  <ion-datetime
    presentation="date"
    size="cover"
    preferWheel="false"
    [highlightedDates]="highlightedDates"
    [multiple]="false"
    locale="bg-BG"
    displayFormat="MM/YYYY"
    min="2000-01-01"
    max="2040-12-31"
    (ionChange)="onDateChange($event)"
  ></ion-datetime>

  <div class="calendar-info">
    <div class="existing-event"></div>
    <p class="existing-event-text">Дати със събития</p>
    <div class="marked"></div>
    <p class="marked-text">Маркирана дата</p>
  </div>
</section>
