<ion-content mode="ios">
  <app-header
    [headerTitle]="headerTitle"
    [backButton]="backButton"
    [defaultHref]="defaultHref"
  ></app-header>

  <div class="create-event-container">
    <form
      #createEventForm="ngForm"
      (submit)="onCreateEventSubmit(createEventForm)"
    >
      <!-- event image upload -->
      <div class="ion-margin-top">
        <app-title-fades
          [color]="titleSeparatorColor"
          [title]="separatorPictureTitle"
        />
        <div class="image-upload-wrapper ion-padding-horizontal">
          <app-image-picker
            (imagePicked)="onImageUpload($event)"
          ></app-image-picker>
          <p *ngIf="imageErrorMessage" class="validation-error-message">
            {{imageErrorMessage}}
          </p>
        </div>
      </div>

      <!-- event description -->
      <div class="description-inputs-wrapper">
        <app-title-fades
          [color]="descriptionSeparatorColor"
          [title]="descriptionSeparatorTitle"
          class="description-separator"
        />

        <div class="ion-padding-horizontal event-input">
          <!-- short title input -->
          <ion-input
            label="Кратко заглавие*"
            labelPlacement="floating"
            [counter]="true"
            maxlength="20"
            name="shortTitle"
            ngModel
            required
            #shortTitle="ngModel"
          ></ion-input>

          <p
            *ngIf="shortTitle.touched && shortTitle.errors?.['required']"
            class="validation-error-message"
          >
            Полето е задължително за попълване!
          </p>

          <!-- long title input -->
          <ion-input
            label="Дълго заглавие"
            labelPlacement="floating"
            [counter]="true"
            maxlength="80"
            name="longTitle"
            ngModel
          ></ion-input>

          <!-- short description -->
          <ion-input
            label="Кратко описание*"
            labelPlacement="floating"
            [counter]="true"
            maxlength="140"
            name="shortDescription"
            ngModel
            #shortDescription="ngModel"
            required
          ></ion-input>

          <p
            *ngIf="shortDescription.touched && shortDescription.errors?.['required']"
            class="validation-error-message"
          >
            Полето е задължително за попълване!
          </p>

          <!-- event category selector -->
          <div class="category-select-wrapper">
            <ion-select
              class="event-type-select"
              label="Вид на събитието*"
              labelPlacement="floating"
              slot="end"
              okText="Ок"
              cancelText="Откажи"
              #category
              (ionChange)="onEventTypeChange($event.detail.value)"
            >
              <ion-select-option
                value="{{category}}"
                *ngFor="let category of eventCategories"
                >{{category}}</ion-select-option
              >
            </ion-select>
          </div>
          <p
            *ngIf="selectedEventTypeErrorMessage"
            class="validation-error-message"
          >
            {{selectedEventTypeErrorMessage}}
          </p>

          <!-- event region selector-->
          <div class="region-select-wrapper">
            <ion-select
              label="Регион*"
              labelPlacement="floating"
              okText="Ок"
              cancelText="Откажи"
              class="region-select"
              slot="end"
              #region
              (ionChange)="onRegionChange($event.detail.value)"
            >
              <ion-select-option
                value="{{region}}"
                *ngFor="let region of bulgarianRegions"
                >{{region}}</ion-select-option
              >
            </ion-select>
          </div>
          <!-- address-->
          <div class="event-address-wrapper">
            <app-address-picker
              (confirmedAddress)="onConfirmedAddress($event)"
            ></app-address-picker>
          </div>

          <!-- email -->
          <ion-input
            label="Имейл*"
            labelPlacement="floating"
            [counter]="true"
            class="contacts-input"
            name="email"
            ngModel
          ></ion-input>

          <!-- phone-->
          <ion-input
            label="Телефон*"
            labelPlacement="floating"
            [counter]="true"
            name="phone"
            class="contacts-input"
            ngModel
          ></ion-input>

          <!-- long description -->
          <ion-textarea
            label="Дълго описание"
            labelPlacement="floating"
            [counter]="true"
            maxlength="500"
            rows="3"
            name="longDescription"
            ngModel
          ></ion-textarea>
        </div>
      </div>

      <!-- event date -->
      <div class="event-date-wrapper">
        <app-title-fades
          [color]="dateSeparatorColor"
          [title]="dateSeparatorTitle"
        />
        <div class="ion-padding-horizontal event-input">
          <!-- select dates -->
          <app-select-dates [dates]="dates"></app-select-dates>
        </div>
      </div>
      <!-- event prices -->
      <div class="event-prices-wrapper">
        <app-title-fades
          [color]="priceSeparatorColor"
          [title]="priceSeparatorTitle"
        />
        <app-select-price
          [visitorPrices]="visitorPrices"
          [participantPrices]="participantPrices"
        ></app-select-price>
      </div>

      <!-- submit button -->
      <div class="form-buttons-wrapper ion-padding-horizontal">
        <div class="main-button-wrapper">
          <button class="main-button" type="submit">Създай събитие</button>
        </div>
        <div class="secondary-button-wrapper">
          <a class="secondary-button">Откажи</a>
        </div>
      </div>
    </form>
  </div>
</ion-content>
