<ion-content mode="ios">
  <app-header
    [headerTitle]="headerTitle"
    [backButton]="backButton"
    [defaultHref]="defaultHref"
  ></app-header>

  <div class="create-event-container">
    <form
      #createEventForm="ngForm"
      (submit)="onCreateEventSubmitClick(createEventForm)"
    >
      <!-- event image upload -->
      <div class="ion-margin-top">
        <app-title-fades
          [color]="titleSeparatorColor"
          [title]="separatorPictureTitle"
        />
        <div class="image-upload-wrapper ion-padding-horizontal">
          <app-image-picker></app-image-picker>
        </div>
      </div>

      <!-- event description -->
      <div class="description-inputs-wrapper">
        <app-title-fades
          [color]="descriptionSeparatorColor"
          [title]="descriptionSeparatorTitle"
          class="description-separator"
        />

        <div class="ion-padding-horizontal event-input">
          <!-- short title input -->
          <ion-input
            label="Кратко заглавие*"
            labelPlacement="floating"
            [counter]="true"
            maxlength="20"
          ></ion-input>

          <!-- long title input -->
          <ion-input
            label="Дълго заглавие"
            labelPlacement="floating"
            [counter]="true"
            maxlength="80"
          ></ion-input>

          <!-- short description -->
          <ion-input
            label="Кратко описание*"
            labelPlacement="floating"
            [counter]="true"
            maxlength="140"
          ></ion-input>

          <!-- event category selector -->
          <div class="category-select-wrapper">
            <ion-select
              interface="popover"
              placeholder="Вид на събитието"
              class="region-select"
              slot="end"
              name="category"
              #region
              (ionChange)="onRegionChange($event.detail.value)"
            >
              <ion-select-option
                value="{{region}}"
                *ngFor="let region of bulgarianRegions"
                >{{region}}</ion-select-option
              >
            </ion-select>
          </div>

          <!-- event region selector-->
          <div class="region-select-wrapper">
            <ion-select
              interface="popover"
              placeholder="Регион"
              class="region-select"
              slot="end"
              name="region"
              #region
              (ionChange)="onRegionChange($event.detail.value)"
            >
              <ion-select-option
                value="{{region}}"
                *ngFor="let region of bulgarianRegions"
                >{{region}}</ion-select-option
              >
            </ion-select>
          </div>
          <!-- address-->
          <ion-input
            label="Адрес на събитието*"
            labelPlacement="floating"
            [counter]="true"
            maxlength="80"
          ></ion-input>

          <!-- long description -->
          <ion-textarea
            label="Дълго описание"
            labelPlacement="floating"
            [counter]="true"
            maxlength="500"
            rows="3"
          ></ion-textarea>
        </div>
      </div>

      <!-- event date -->
      <div class="event-date-wrapper">
        <app-title-fades
          [color]="dateSeparatorColor"
          [title]="dateSeparatorTitle"
        />
        <div class="ion-padding-horizontal event-input">
          <!-- select dates -->
          <app-select-dates [dates]="dates"></app-select-dates>
        </div>
      </div>
      <!-- event prices -->
      <div class="event-prices-wrapper">
        <app-title-fades
          [color]="priceSeparatorColor"
          [title]="priceSeparatorTitle"
        />
        <app-select-price
          [visitorPrices]="visitorPrices"
          [participantPrices]="participantPrices"
        ></app-select-price>
      </div>

      <!-- submit button -->
      <div class="form-buttons-wrapper ion-padding-horizontal">
        <div class="main-button-wrapper">
          <button class="main-button" type="submit">Създай събитие</button>
        </div>
        <div class="secondary-button-wrapper">
          <button class="secondary-button">Откажи</button>
        </div>
      </div>
    </form>
  </div>
</ion-content>
